@{
    ViewBag.Title = "Title";
}

<div id="cc" class="easyui-layout" style="height:600px;">
    <!-- Left Zone -->
    <div data-options="region:'west',title:'Navegación',split:true" style="width:200px;">
        <!-- Tree View -->
        <ul class="easyui-tree">
            <li>
                <span>Ventas</span>
                <ul>
                    <li><span>File1</span></li>
                    <li><span>File2</span></li>
                    <li><span>File3</span></li>
                </ul>
                </li>
                <li>
                    <span>Compras</span>
                    <ul>
                        <li><span>File1</span></li>
                        <li><span>File2</span></li>
                        <li><span>File3</span></li>
                    </ul>
                </li>
                <li>
                    <span>C.R.M</span>
                    <ul>
                        <li><span>File1</span></li>
                        <li><span>File2</span></li>
                        <li><span>File3</span></li>
                    </ul>
                </li>
                <li>
                    <span>Finanzas</span>
                    <ul>
                        <li><span>File1</span></li>
                        <li><span>File2</span></li>
                        <li><span>File3</span></li>
                    </ul>
                </li>
                <li>
                    <span>Sueldos y Jornales</span>
                    <ul>
                        <li><span>File1</span></li>
                        <li><span>File2</span></li>
                        <li><span>File3</span></li>
                    </ul>
                </li>
                <li>
                    <span>Contabilidad General</span>
                    <ul>
                        <li><span>File1</span></li>
                        <li><span>File2</span></li>
                        <li><span>File3</span></li>
                    </ul>
                </li>
                <li>
                    <span>Business Intelligence</span>
                    <ul>
                        <li><span>File1</span></li>
                        <li><span>File2</span></li>
                        <li><span>File3</span></li>
                    </ul>
                </li>
                <li>
                    <span>Informes</span>
                    <ul>
                        <li><span>File1</span></li>
                        <li><span>File2</span></li>
                        <li><span>File3</span></li>
                    </ul>
                </li>
                <li>
                    <span>Herramientas</span>
                    <ul>
                        <li><span>File1</span></li>
                        <li><span>File2</span></li>
                        <li><span>File3</span></li>
                    </ul>
                </li>
        </ul>
    </div>

    <!-- Right Zone -->
    <div data-options="region:'center'" border="false" class="easyui-tabs">
        <div title="Tab1">
            Tab 1
        </div>
        <div title="Tab2">
            Tab 2
        </div>
    </div>
</div>