@{
    ViewBag.Title = "Title";
}

<div id="cc" class="easyui-layout" style="height:600px;">
    <!-- Left Zone -->
    <div data-options="region:'west',title:'Navegación',split:true" style="width:200px;">
        <!-- Tree View -->
        <ul class="easyui-tree">
            <li>
                <span>Compras</span>
                <ul>
                    <li><a class="navlink" href="#">Proveedores</a></li>
                    <li><a class="navlink" href="#">Notas de Pedidos</a></li>
                    <li><a class="navlink" href="#">Recepciones</a></li>
                </ul>
            </li>
            <li>
                <span>Stock</span>
                <ul>
                    <li><a class="navlink" href="#">Productos</a></li>
                    <li><a class="navlink" href="#">Listas de Precios</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <!-- Right Zone -->
    <div id="righttabs" data-options="region:'center'" border="false" class="easyui-tabs">
        <div title="Inicio">
            <h2>Inicio</h2>
        </div>
    </div>
</div>