@{
    ViewBag.Title = "Title";
}

<div id="cc" class="easyui-layout" style="height:600px;">
    <!-- Left Zone -->
    <div data-options="region:'west',title:'Navegación',split:true" style="width:200px;">
        <!-- Tree View -->
        <ul class="easyui-tree">
            <li>
                <span>Ventas</span>
                <ul>
                    <li>Clientes</li>
                </ul>
            </li>
            <li>
                <span>C.R.M</span>
                <ul>
                    <li><span>File1</span></li>
                </ul>
            </li>
            <li>
                <span>Compras</span>
                <ul>
                    <li><span>File1</span></li>
                </ul>
            </li>
            <li>
                <span>Finanzas</span>
                <ul>
                    <li><span>File1</span></li>
                </ul>
            </li>
            <li>
                <span>Contabilidad</span>
                <ul>
                    <li><span>File1</span></li>
                </ul>
            </li>
            <li>
                <span>RR.HH</span>
                <ul>
                    <li><span>File1</span></li>
                </ul>
            </li>
        </ul>
    </div>

    <!-- Right Zone -->
    <div id="RightTab" data-options="region:'center'" border="false" class="easyui-tabs">
        <div title="Tab1">
            <h2>Tab Principal</h2>
        </div>
    </div>
</div>